<%= form_for @tag, url: post_tags_path do |f| %>
<div class="form-group">
  <%= f.label 'label', 'New Tag' %>
  <%= f.text_field 'label' %>
</div>
  <%= f.submit class: "btn btn-success" %>
<% end %>
